# Ignore node_modules directory
/node_modules

# Ignore environment variables file
/.env

# Ignore any build or compiled files
/build
/dist

# Ignore any local development server files
/.vite

# Ignore macOS system files
.DS_Store

# Ignore npm debug log
npm-debug.log*
